@page
@model BugsModel
@{
    ViewData["Title"] = "Bug List";
}

<h2>Bug List</h2>

@if (Model.Bugs != null && Model.Bugs.Any()) 
{
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var bug in Model.Bugs) 
        {
            <tr>
                <td>@bug.Title</td>
                <td>@bug.Priority</td>
                <td>@{
                        var statusText = bug.Status switch {
                            0 => "Open",
                            1 => "Open",
                            2 => "Open",
                            _ => "Unknown",
                        };
                    }
                    @statusText
                </td>
                <td>@bug.CreatedAt.ToString("yyyy-MM-dd")</td>
            </tr>
        }
        </tbody>
    </table>
}
else 
{
    <p>No bugs to display.</p>
}

<a href="/Bugs/Create">➕ New Bug</a>


